body {
  background-color: white;
  margin: 0;
}

header {
  padding-top: 10px;
  background-color: skyblue;
  position: sticky;
}

#main_div {
  padding-bottom: 30px;
  background-color: skyblue;
}

#logo {
  text-align: center;
}

#logo_anchor {
  color: black;
  cursor: default;
  text-decoration: none;
}

.main_content {
  max-width: 80%;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
}

.country_button {
  font-size: 30px;
  text-align: center;
  border: none;
}

.country_button button {
  cursor: pointer;
  color: white;
  background-color: #363636;
}

#date_menu {
  padding-top: 70px;
  text-align: center;
}

#date_menu span {
  cursor: text;
}

.nav_menu {
  text-align: center;
}

.menu_button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #363636;
}

.reload_button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}

button:active {
  transform: scale(0.97);
}

.conf1,
.conf2,
.conf3,
.conf4 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 15px;
  padding-top: 15px;
}

.title {
  cursor: text;
  font-size: 25px;
}

.number {
  cursor: text;
  padding-left: 20px;
  font-size: 20px;
}

.rast {
  cursor: text;
  font-size: 15px;
  padding-left: 15px;
  color: red;
}

.img {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.button_color_change {
  background-color: black;
}

.area1_button {
  cursor: pointer;
  border: 0;
  display: block;
  padding: 4px 8px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.2);
  border-radius: 2px;
  cursor: text_color_change pointer;
}

.text_color_change {
  color: white;
}

.area1 {
  display: block;
}

.mask_info {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 30px;
}

#mask {
  background-color: skyblue;
  text-align: center;
}

/* 입력창 설정 */
#search_text {
  width: 300px;
}

#filter_list {
  text-align: center;
  list-style: none;
}

/* 리스트 설정 */
#mask_list {
  list-style: none;
  text-align: left;
}
#mask_list > li > a {
  display: inline-block;
}

/* 마스크 색상 지정 */
#mask_list > li > .plenty {
  background-color: green;
}
#mask_list > li > .some {
  background-color: yellow;
}
#mask_list > li > .few {
  background-color: red;
}
#mask_list > li > .empty {
  background-color: gray;
}
#mask_list > li > .break {
  background-color: darkgray;
}

/* 출력 사이즈 설정 */
#mask_list > li > .mask-remain_stat {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
}
#mask_list > li > .mask-name {
  width: 150px;
  text-align: center;
}
#mask_list > li > .mask-addr {
  text-align: center;
}

.info_mainDiv a {
  color: black;
  text-decoration: none;
}

.footer {
  background-size: auto;
  padding: 10px;
  background-color: #252525;
  margin-top: 500px;
}

.footer div {
  cursor: text;
}

.footer div,
.mail {
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .img img {
    width: 40%;
  }

  .button_seoul {
    position: absolute;
    top: 14%;
    left: 44%;
  }

  .button_incheon {
    position: absolute;
    top: 15%;
    left: 39%;
  }

  .button_gyungki {
    position: absolute;
    top: 24%;
    left: 44%;
  }

  .button_gangwon {
    position: absolute;
    top: 10%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 48%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 45%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 40%;
  }

  .button_sejong {
    position: absolute;
    top: 33%;
    left: 43%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 56%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 54%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 43%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 43%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 40%;
  }

  .button_ulsan {
    position: absolute;
    top: 65%;
    left: 60%;
  }

  .button_busan {
    position: absolute;
    top: 70%;
    left: 55%;
  }

  .button_gyungnam {
    position: absolute;
    top: 63%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 93%;
    left: 43%;
  }
}

@media screen and (max-width: 1400px) {
  .img img {
    width: 60%;
  }

  .button_seoul {
    position: absolute;
    top: 14%;
    left: 40%;
  }

  .button_incheon {
    position: absolute;
    top: 17%;
    left: 35%;
  }

  .button_gyungki {
    position: absolute;
    top: 24%;
    left: 40%;
  }

  .button_gangwon {
    position: absolute;
    top: 14%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 47%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 43%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 35%;
  }

  .button_sejong {
    position: absolute;
    top: 35%;
    left: 40%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 59%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 57%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 40%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 40%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 35%;
  }

  .button_ulsan {
    position: absolute;
    top: 59%;
    left: 63%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 55%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 93%;
    left: 41%;
  }
}

@media screen and (max-width: 620px) {
  .main_content {
    max-width: 90%;
  }
  .title {
    font-size: 25px;
  }

  .number {
    padding-left: 15px;
    font-size: 20px;
  }

  .rast {
    font-size: 15px;
    padding-left: 10px;
  }
  .img img {
    width: 100%;
  }

  .button_seoul {
    position: absolute;
    top: 14%;
    left: 35%;
  }

  .button_incheon {
    position: absolute;
    top: 15%;
    left: 25%;
  }

  .button_gyungki {
    position: absolute;
    top: 24%;
    left: 35%;
  }

  .button_gangwon {
    position: absolute;
    top: 10%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 45%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 37%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 25%;
  }

  .button_sejong {
    position: absolute;
    top: 33%;
    left: 36%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 63%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 60%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 33%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 30%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 20%;
  }

  .button_ulsan {
    position: absolute;
    top: 60%;
    left: 70%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 60%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 92%;
    left: 34%;
  }
}

@media screen and (max-width: 1040px) {
  .img img {
    width: 60%;
  }

  .button_seoul {
    position: absolute;
    top: 14%;
    left: 40%;
  }

  .button_incheon {
    position: absolute;
    top: 17%;
    left: 35%;
  }

  .button_gyungki {
    position: absolute;
    top: 24%;
    left: 40%;
  }

  .button_gangwon {
    position: absolute;
    top: 14%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 46%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 43%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 33%;
  }

  .button_sejong {
    position: absolute;
    top: 35%;
    left: 39%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 59%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 57%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 40%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 40%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 35%;
  }

  .button_ulsan {
    position: absolute;
    top: 59%;
    left: 63%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 55%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 93%;
    left: 41%;
  }
}

@media screen and (max-width: 900px) {
  .img img {
    width: 60%;
  }

  .button_seoul {
    position: absolute;
    top: 14%;
    left: 40%;
  }

  .button_incheon {
    position: absolute;
    top: 17%;
    left: 35%;
  }

  .button_gyungki {
    position: absolute;
    top: 24%;
    left: 40%;
  }

  .button_gangwon {
    position: absolute;
    top: 14%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 47%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 43%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 33%;
  }

  .button_sejong {
    position: absolute;
    top: 35%;
    left: 38%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 59%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 57%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 40%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 40%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 35%;
  }

  .button_ulsan {
    position: absolute;
    top: 59%;
    left: 63%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 55%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 93%;
    left: 41%;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 25px;
  }

  .number {
    padding-left: 10px;
    font-size: 20px;
  }

  .rast {
    font-size: 15px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  button span {
    display: block;
  }
  .img img {
    width: 100%;
  }

  .button_seoul {
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .button_incheon {
    position: absolute;
    top: 15%;
    left: 20%;
  }

  .button_gyungki {
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .button_gangwon {
    position: absolute;
    top: 10%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 45%;
  }

  .button_daejeon {
    position: absolute;
    top: 42%;
    left: 37%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 20%;
  }

  .button_sejong {
    position: absolute;
    top: 32%;
    left: 33%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 63%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 60%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 33%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 30%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 20%;
  }

  .button_ulsan {
    position: absolute;
    top: 60%;
    left: 70%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 60%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 92%;
    left: 34%;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 20px;
  }

  .number {
    padding-left: 10px;
    font-size: 15px;
  }

  .rast {
    font-size: 10px;
    padding-left: 10px;
  }
  button span {
    font-size: 8px;
    display: block;
  }
  .img img {
    width: 100%;
  }

  .button_seoul {
    position: absolute;
    top: 9%;
    left: 35%;
  }

  .button_incheon {
    position: absolute;
    top: 15%;
    left: 25%;
  }

  .button_gyungki {
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .button_gangwon {
    position: absolute;
    top: 10%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 43%;
  }

  .button_daejeon {
    position: absolute;
    top: 43%;
    left: 35%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 23%;
  }

  .button_sejong {
    position: absolute;
    top: 33%;
    left: 33%;
  }

  .button_daegu {
    position: absolute;
    top: 49%;
    left: 63%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 37%;
    left: 60%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 33%;
  }

  .button_gwangju {
    position: absolute;
    top: 68%;
    left: 30%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 20%;
  }

  .button_ulsan {
    position: absolute;
    top: 60%;
    left: 70%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 60%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .button_jeju {
    position: absolute;
    top: 92%;
    left: 34%;
  }
}

@media screen and (max-width: 350px) {
  .button_seoul {
    position: absolute;
    top: 5%;
    left: 30%;
  }

  .button_incheon {
    position: absolute;
    top: 15%;
    left: 20%;
  }

  .button_gyungki {
    position: absolute;
    top: 20%;
    left: 33%;
  }

  .button_gangwon {
    position: absolute;
    top: 10%;
    left: 52%;
  }

  .button_chungbuk {
    position: absolute;
    top: 34%;
    left: 43%;
  }

  .button_daejeon {
    position: absolute;
    top: 43%;
    left: 35%;
  }

  .button_chungnam {
    position: absolute;
    top: 36%;
    left: 20%;
  }

  .button_sejong {
    position: absolute;
    top: 33%;
    left: 30%;
  }

  .button_daegu {
    position: absolute;
    top: 45%;
    left: 63%;
  }

  .button_gyungbuk {
    position: absolute;
    top: 32%;
    left: 60%;
  }

  .button_jeonbuk {
    position: absolute;
    top: 53%;
    left: 27%;
  }

  .button_gwangju {
    position: absolute;
    top: 65%;
    left: 30%;
  }

  .button_jeonnam {
    position: absolute;
    top: 73%;
    left: 20%;
  }

  .button_ulsan {
    position: absolute;
    top: 60%;
    left: 70%;
  }

  .button_busan {
    position: absolute;
    top: 67%;
    left: 57%;
  }

  .button_gyungnam {
    position: absolute;
    top: 60%;
    left: 47%;
  }

  .button_jeju {
    position: absolute;
    top: 92%;
    left: 33%;
  }
}
